{%- capture tabs %}
  {%- capture content %}<p>Under the Meyda Lighting brand, thousands of decorative styles are offered through fine dealers in the U.S. and Canada. Many designs are inspired by the works of Louis Comfort Tiffany, Dirk Van Erp, Gustav Stickley, and other masters, as well as the Arts and Crafts, Rustic, Gothic, Revival and Contemporary themes. Their extensive line includes table and floor lamps, ceiling pendants, chandeliers, outdoor lighting, wall sconces, stained glass windows, fireplace screens, billiard/kitchen island fixtures, novelty items, and more. Meyda continues to implement one of the industry's most extensive product development programs.</p>
<p>Shop all from <a title="Meyda Lighting" href="https://lightingaccent.com/collections/meyda-lighting-1">Meyda Lighting</a>!</p>{% endcapture -%}
  62974^^About Meyda Lighting^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^||||Meyda Lighting^^^^7^^0^^~~
  {%- capture content %}<p>Our mission at&nbsp;<strong>PORT 68</strong>&nbsp;is to bring fresh classic designer-driven product to the marketplace with a clear point of view and defined merchandising story. All accented with color, pattern and/or texture in a mix of materials from around the world.<br /><br />Founded by industry veterans&nbsp;Michael Yip&nbsp;and&nbsp;ARTS Award&nbsp;winning designer&nbsp;Mark Abrams, PORT 68 invites you to discover the unexpected mix of styles and points of view of its products.</p>
<p>Shop all from <a href="https://lightingaccent.com/collections/port-68" target="_blank" rel="noopener">Port 68!</a></p>{% endcapture -%}
  67098^^About Port 68^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^|304748298440|||^^^^7^^0^^~~
  {%- capture content %}<div><span class=" author-d-iz88z86z86za0dz67zz78zz78zz74zz68zjz80zz71z9iz90z9z84z5ya47z84zniz85zz74zud8z78zxu8jz67zz85zpz86zhz86zkz65zz71zsz67z">Surya translates the most relevant apparel and home decor trends into fashion-forward products across a range of styles, price points and categories &ndash; including rugs, lighting, pillows, throws, wall decor, accent furniture, decorative accents, and bedding. From classic to contemporary, their selection of over 60,000 inspired products provides fresh, colorful and on-trend options for every lifestyle and budget.</span></div>{% endcapture -%}
  75358^^About Surya^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^|329677832392|||^^^^7^^0^^~~
  {%- capture content %}<div><span class="author-d-iz88z86z86za0dz67zz78zz78zz74zz68zjz80zz71z9iz90z9z84z5ya47z84zniz85zz74zud8z78zxu8jz67zz85zpz86zhz86zkz65zz71zsz67z">Living up to its name, this young Danish design brand debuted at the Stockholm Furniture Fair with just a single product.</span><span class="author-d-iz88z86z86za0dz67zz78zz78zz74zz68zjz80zz71z9iz90z9z84z5ya47z84zniz85zz74zud8z78zxu8jz67zz85zpz86zhz86zkz65zz71zsz67z s-ldquo">&nbsp;</span><span class="author-d-iz88z86z86za0dz67zz78zz78zz74zz68zjz80zz71z9iz90z9z84z5ya47z84zniz85zz74zud8z78zxu8jz67zz85zpz86zhz86zkz65zz71zsz67z h-ldquo">&ldquo;After</span><span class="author-d-iz88z86z86za0dz67zz78zz78zz74zz68zjz80zz71z9iz90z9z84z5ya47z84zniz85zz74zud8z78zxu8jz67zz85zpz86zhz86zkz65zz71zsz67z">&nbsp;almost a year of preparation, we relaunched the classic Danish workshop lamp from 1951, remade by hand by the original skilled craftsmen&mdash;with their techniques from the 1950s&mdash;in the original workshop in Denmark,&rdquo; says Thomas Baldur-Felskov, cofounder and partner.&nbsp;</span></div>
<div>&nbsp;</div>
<div><span class="author-d-iz88z86z86za0dz67zz78zz78zz74zz68zjz80zz71z9iz90z9z84z5ya47z84zniz85zz74zud8z78zxu8jz67zz85zpz86zhz86zkz65zz71zsz67z">Made by Hand celebrates fine craftsmanship and understated luxury in the Scandinavian tradition. Guided by a passion for natural materials and timeless functionality, Thomas likens the company's prevailing aesthetic to a white T-shirt.</span><span class="author-d-iz88z86z86za0dz67zz78zz78zz74zz68zjz80zz71z9iz90z9z84z5ya47z84zniz85zz74zud8z78zxu8jz67zz85zpz86zhz86zkz65zz71zsz67z s-ldquo">&nbsp;</span><span class="author-d-iz88z86z86za0dz67zz78zz78zz74zz68zjz80zz71z9iz90z9z84z5ya47z84zniz85zz74zud8z78zxu8jz67zz85zpz86zhz86zkz65zz71zsz67z h-ldquo">&ldquo;It</span><span class="author-d-iz88z86z86za0dz67zz78zz78zz74zz68zjz80zz71z9iz90z9z84z5ya47z84zniz85zz74zud8z78zxu8jz67zz85zpz86zhz86zkz65zz71zsz67z">&nbsp;should go with everything, from a simple space to a more luxurious setting,&rdquo; he says. New additions are painstakingly developed with an eye on lasting authenticity.</span><span class="author-d-iz88z86z86za0dz67zz78zz78zz74zz68zjz80zz71z9iz90z9z84z5ya47z84zniz85zz74zud8z78zxu8jz67zz85zpz86zhz86zkz65zz71zsz67z s-ldquo">&nbsp;</span><span class="author-d-iz88z86z86za0dz67zz78zz78zz74zz68zjz80zz71z9iz90z9z84z5ya47z84zniz85zz74zud8z78zxu8jz67zz85zpz86zhz86zkz65zz71zsz67z h-ldquo">&ldquo;We</span><span class="author-d-iz88z86z86za0dz67zz78zz78zz74zz68zjz80zz71z9iz90z9z84z5ya47z84zniz85zz74zud8z78zxu8jz67zz85zpz86zhz86zkz65zz71zsz67z">&nbsp;don&rsquo;t feel obligated to bring out new products every year.&nbsp;</span></div>{% endcapture -%}
  75362^^About Made By Hand^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^|330527146184|||^^^^7^^0^^~~
  {%- capture content %}<p>Expect a smooth return experience with us! If you've received damaged or defective merchandise, we will replace it at no cost to you. Read more about the full <a title="Return &amp; Refunds" href="https://lightingaccent.com/pages/returns-refunds" target="_blank" rel="noopener">return policy</a>.</p>{% endcapture -%}
  61505^^Returns & Refunds^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^0||||^^^^6^^0^^~~
  {%- capture content %}<p>Original BTC&rsquo;s lighting is retrospective and contemporary, industrial and intimate, and especially high quality. Founder Peter Bowles was born into a long history of British manufacturing and through the success of Original BTC, Bowles resuscitated a ceramics factory in Stoke-on-Trent, a metalwork factory in Birmingham, and a nautical outfitter at London Docks. All proudly British-made, hand-assembled in Oxford, and still family-run.<br /><br />Two additional brands '<strong><a title="Davey Lighting" href="https://lightingaccent.com/collections/davey-lighting" target="_blank" rel="noopener">Davey Lighting</a>' </strong>and<strong>&nbsp;</strong>'<a title="Beadlight" href="https://lightingaccent.com/collections/beadlight" target="_blank" rel="noopener"><strong>Beadlight</strong></a>' are included under the Original BTC umbrella, bringing with them their products, skills and facilities. We are also fortunate to own six production facilities dedicated to our designs; these include a ceramics factory, glass factory and metal works. HQ and our assembly factories are based in Oxfordshire where Original BTC was founded.<br /><br />With showrooms in London, Paris, New York &amp; Taiwan, we work closely with retailers, interior designers and architects supplying products all around the world. We are very much an international business with sales to over 85 countries.</p>
<p>Shop all from <strong><a title="Original BTC" href="https://lightingaccent.com/collections/original-btc" target="_blank" rel="noopener">Original BTC</a></strong>!&nbsp;</p>{% endcapture -%}
  75357^^About Davey Lighting^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^|327154893000|||^^^^7^^0^^~~
  {%- capture content %}<p>Original BTC&rsquo;s lighting is retrospective and contemporary, industrial and intimate, and especially high quality. Founder Peter Bowles was born into a long history of British manufacturing and through the success of Original BTC, Bowles resuscitated a ceramics factory in Stoke-on-Trent, a metalwork factory in Birmingham, and a nautical outfitter at London Docks. All proudly British-made, hand-assembled in Oxford, and still family-run.<br /><br />Two additional brands '<strong><a title="Davey Lighting" href="https://lightingaccent.com/collections/davey-lighting" target="_blank" rel="noopener">Davey Lighting</a>' </strong>and<strong>&nbsp;</strong>'<a title="Beadlight" href="https://lightingaccent.com/collections/beadlight" target="_blank" rel="noopener"><strong>Beadlight</strong></a>' are included under the Original BTC umbrella, bringing with them their products, skills and facilities. We are also fortunate to own six production facilities dedicated to our designs; these include a ceramics factory, glass factory and metal works. HQ and our assembly factories are based in Oxfordshire where Original BTC was founded.<br /><br />With showrooms in London, Paris, New York &amp; Taiwan, we work closely with retailers, interior designers and architects supplying products all around the world. We are very much an international business with sales to over 85 countries.</p>
<p>Shop all from <strong><a title="Original BTC" href="https://lightingaccent.com/collections/original-btc" target="_blank" rel="noopener">Original BTC</a></strong>!&nbsp;</p>
<p>&nbsp;</p>{% endcapture -%}
  67097^^About Original BTC^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^|310284615880|||^^^^7^^0^^~~
  {%- capture content %}<p>Original BTC&rsquo;s lighting is retrospective and contemporary, industrial and intimate, and especially high quality. Founder Peter Bowles was born into a long history of British manufacturing and through the success of Original BTC, Bowles resuscitated a ceramics factory in Stoke-on-Trent, a metalwork factory in Birmingham, and a nautical outfitter at London Docks. All proudly British-made, hand-assembled in Oxford, and still family-run.<br /><br />Two additional brands '<strong><a title="Davey Lighting" href="https://lightingaccent.com/collections/davey-lighting" target="_blank" rel="noopener">Davey Lighting</a>' </strong>and<strong>&nbsp;</strong>'<a title="Beadlight" href="https://lightingaccent.com/collections/beadlight" target="_blank" rel="noopener"><strong>Beadlight</strong></a>' are included under the Original BTC umbrella, bringing with them their products, skills and facilities. We are also fortunate to own six production facilities dedicated to our designs; these include a ceramics factory, glass factory and metal works. HQ and our assembly factories are based in Oxfordshire where Original BTC was founded.<br /><br />With showrooms in London, Paris, New York &amp; Taiwan, we work closely with retailers, interior designers and architects supplying products all around the world. We are very much an international business with sales to over 85 countries.</p>
<p>Shop all from <strong><a title="Original BTC" href="https://lightingaccent.com/collections/original-btc" target="_blank" rel="noopener">Original BTC</a></strong>!&nbsp;</p>{% endcapture -%}
  75359^^About Beadlight^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^|327154860232|||^^^^7^^0^^~~
  {%- capture content %}<p><strong>About&nbsp;EOQ</strong></p>
<p>British-born and Hong Kong based, EOQ is a stunning lighting and furniture brand with an industrial aesthetic. All products have been designed by Michael Young, a unique designer with a passion for technology and a love of questioning habits and typologies.</p>
<p>Sustainability is at the heart of EOQ&rsquo;s ethos, the key material used to uphold their responsibility to the environment is recycled Aluminium. We love everything that comes from EOQ, however, some of the most popular pieces are the Bramah lighting collection and Otto Stools. With only the best quality sustainable materials used, EOQ is a true credit to themselves with the pieces they produce.</p>
<p>Take a browse through what they have to offer, from stools to tables to lighting, EOQ knows how to provide stunning industrial inspired interior solutions. EOQ is where perfect design meets perfect engineering.</p>{% endcapture -%}
  75361^^About EOQ^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^|330529472712|||^^^^7^^0^^~~
  {%- capture content %}<p>OGGETTI is about to have its fiftieth anniversary. That speaks for a company that is reliable and long-term. But more remarkable is that for fifty years Oggetti has led the industry in style and design. The founders Nancy and Robert Frehling literally traveled the world sourcing furniture, accessories, lighting-all the elements to make a beautiful home. Driven by passion and a love for fine materials and design, they consistently brought home exciting additions to the realm of home furnishings. Their son Gregory became part of the team early on and picked up the travelling bug, going to Italy, the Philippines, Vietnam and other far-flung destinations to source for Oggetti. He now is at the helm, continuing the search for quality and beauty. So, as a company that has worked in the design field for almost fifty years, Oggetti has remained relevant, a beacon for forward-thinking designers and architects.</p>{% endcapture -%}
  75360^^About OGGETTI^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^|343899275464|||^^^^7^^0^^~~
  {%- capture content %}<p>Ships within 7 business days</p>{% endcapture -%}
  76930^^Free Shipping^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^|304748298440|||^^^^1^^0^^~~
  {%- capture content %}<p>We want you to feel confident that you are getting the absolute best price! If you find another online store that offers a lower price than us within six months of your purchase date, please let us know and we will refund your original payment for the difference.&nbsp;&nbsp;</p>{% endcapture -%}
  61520^^Price Match Guarantee^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^0||||^^^^4^^0^^~~
  {%- capture content %}<p>Ships in 1 or 2 business days</p>{% endcapture -%}
  76933^^Free Shipping^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^||||AF Lighting,Beadlight,Davey Lighting,EOQ,Eurofase,Foldability,Hi-Lite,Le Klint,Made by Hand,Midgard,NYTA,OGGETTI,Original BTC,Surya,Yamagiwa,Yosemite Home Décor^^^^1^^0^^~~
  {%- capture content %}<p>Ships within 2 business days for stocked items.</p>
<p>For made to order items, please allow the displayed time in the description to be built. It ships within 2 business days as soon as upon finish.&nbsp;</p>{% endcapture -%}
  76931^^Free Shipping^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^|315795144904|||^^^^1^^0^^~~
  {%- capture content %}<p>Ships in 1 or 2 business days for most products.&nbsp;</p>
<p><span class=" author-d-iz88z86z86za0dz67zz78zz78zz74zz68zjz80zz71z9iz90z9z84z5ya47z84zniz85zz74zud8z78zxu8jz67zz85zpz86zhz86zkz65zz71zsz67z">Industrial Collection pieces are made to order, and it generally takes 2-5 weeks to be made.&nbsp;</span></p>{% endcapture -%}
  76936^^Free Shipping^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^|434214142152|||^^^^1^^0^^~~
  {%- capture content %}<p>Proudly entering its third decade of existence, Eurofase continues its evolution as a provider of artful illumination. Eurofase is born of a company culture that passionately seeks to improve the lives of its customer with innovative design, lasting quality and genuine service. Eurofase carefully considers the interaction of a lighting fixture with those who enjoy it. Beyond the style or finish of a fixture is the ambiance created for the space within which it resides. Always with the goal of higher achievement top of mind, each product is inspired by human needs. With many pieces still being crafted by human hands, the authenticity of this company philosophy is carried through to the finished product.</p>
<p>Eurofase is credited with introducing several new design and technology trends to the North American marketplace. Additionally, the company&rsquo;s flair for contemporary design continually promotes the use of emerging lamp technologies, such as LED, halogen and compact fluorescent. Established in 1989, Eurofase is headquartered in suburban Toronto, a city rich in inspiration and cultural diversity. It is from here that Eurofase services its customers throughout the Americas in addition to some international clients. Manufacturing facilities exist in Toronto, Europe and Asia. Inventory of over 2,600 unique products is held in the Eurofase Distribution Center, a 200,000 square foot facility controlled by a state-of-the-art technology to obtain world class accuracy proficiency.</p>{% endcapture -%}
  77697^^About Eurofase^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^|431018934472|||^^^^7^^0^^~~
{%- endcapture -%}
{%- assign tabs_array = tabs | strip | split: '~~' -%}
{%- assign p_id_str = product.id | downcase -%}
<!-- begin station shared tab data -->
{%- for item in tabs_array -%}
  {%- assign tab = item | split: '^^' -%}
  {%- assign hndl = tab[1] | replace: '&amp;', '' | handleize -%}
  {%- capture tab_output -%}
    <div id="station-tabs-data-{{ tab[0] }}" class="station-tabs-data-item" style="display:none;" data-position="{{ tab[5] | default: -1 }}">
      <a id="st-link-{{ hndl }}" class="station-tabs-link" href="#{{ hndl }}"><span>{{ tab[1] }}</span></a>
      <div id="st-{{ hndl }}" class="station-tabs-content">
        <div class="station-tabs-content-inner">{{ tab[2] }}</div>
      </div>
    </div>
  {%- endcapture -%}
  {%- assign asn = tab[3] | split: '|' -%}
  {%- assign p_ids = asn[0] | split: ',' -%}
  {%- assign e_ids = tab[4] | split: ',' -%}
  {%- unless tabs_order contains tab[0] %}{% continue %}{% endunless -%}
  {%- if e_ids contains p_id_str %}{% continue %}{% endif -%}
  {%- if tab[7] != blank%}
    {%- assign t_lcl = tab[7] | downcase -%}
    {%- assign s_lcl = request.locale.iso_code | downcase -%}
    {%- if t_lcl != s_lcl %}{% continue %}{% endif -%}
  {%- endif -%}
  {%- if asn[0] == '0' or asn[1] == '0' -%} 
    {{ tab_output }}{% continue -%}
  {%- endif -%}
  {%- assign col_ids = asn[1] | split: ',' -%}
  {%- assign tags = asn[2] | split: ',' -%}
  {%- assign tps = asn[3] | split: ',' -%}
  {%- assign vndr = asn[4] | split: ',' -%}
  {%- if tab[6] == '1' %}{% assign all = true %}{% else %}{% assign all = false %}{% endif -%}
  {%- if asn[0] != blank -%}
    {%- assign all = false -%}
    {%- if p_ids contains p_id_str -%}
      {{ tab_output }}{% continue -%}
    {%- endif -%}
  {%- endif -%}
  {%- if tps.size > 1 or vndr.size > 1 %}{% assign all = false %}{% endif -%}
  {%- assign cncl = false -%}
  {%- if col_ids.size > 0 -%}
    {%- assign cols = product.collections | map: 'id' | downcase -%}
    {%- for c in col_ids -%}
      {%- if all -%}
        {%- unless cols contains c %}
          {%- assign cncl = true %}{% break -%}
        {%- endunless -%}
      {%- elsif cols contains c -%}
        {{ tab_output }}{% assign cncl = true %}{% break -%}
      {%- endif -%}
    {%- endfor -%}
    {%- if cncl %}{% continue %}{% endif -%}
  {%- endif -%}
  {%- if tags.size > 0 -%}
    {%- for t in tags -%}
      {%- if all -%}
        {%- unless product.tags contains t -%}
          {%- assign cncl = true %}{% break -%}
        {%- endunless -%}
      {%- elsif product.tags contains t %}
        {{ tab_output }}{% assign cncl = true %}{% break -%}
      {%- endif - %}
    {%- endfor -%}
    {%- if cncl %}{% continue %}{% endif -%}
  {%- endif -%}
  {%- if tps.size > 0 -%}
    {%- if all and tps[0] != product.type -%}
      {%- continue -%}
    {%- elsif all == false and tps contains product.type %}
      {{ tab_output }}{% continue -%}
    {%- endif -%}
  {%- endif -%}
  {%- if vndr.size > 0 -%}
    {%- if all and vndr[0] != product.vendor -%}
      {%- continue -%}
    {%- elsif all == false and vndr contains product.vendor -%}
      {{ tab_output }}{% continue -%}
    {%- endif -%}
  {%- endif -%}
  {%- if all %}{{ tab_output }}{% endif -%}
{%- endfor -%}
<!-- end station shared tab data -->